/* my global styles */

* {
    font-family: 'Courier New', Courier, monospace, sans-serif; /* Sets a default font for the whole page */
    margin: 0; /* Removes default margins */
    padding: 0; /* Removes default padding */
    box-sizing: border-box; /* Makes sure borders and paddings are included in the element's total width and height */
}

html {
    background-color: #d87093;
}

html, body {
    height: 80vh; /* Sets the height to 80% of the viewport height, making sure the content fits on the screen */
    padding: 1rem; /* Adds a bit of space around the content for better readability */
    box-sizing: border-box; /* Ensures padding does not add to the set height */
}

body {
    display: grid; /* Enables CSS Grid layout */
    grid-template-areas: 
        "header" /* Top area for the header */ 
        "main"   /* Middle area for the main content */
        "buttonmap"
        "footer"; /* Bottom area for the footer */
    grid-template-rows: auto 1fr auto; /* Sizes: auto for header and footer to fit content, 1fr for main to fill remaining space */
}

main {
    display: grid; /* Enables CSS Grid within the main element */
    grid-template-areas:
        "portfolio map"; /* Divides the main area into portfolio and map sections side by side */
    grid-template-columns: 400px 1fr;
}

header { 
    grid-area: header; /* Assigns the header to its grid area */
    padding: 0.5rem;
}

#footer {
    grid-area: footer;
}

/* lab styling */

#buttonmap {
    grid-area: buttonmap;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.portfolio {
    grid-area: portfolio;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#map { 
    grid-area: map;
    height: 80vh;
}

#contents{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#buttonmap button {
    color: #d87093;
    border: dashed #6b4885;
    border-radius: 5px;
    padding: 6px;
    font-size: 13px;
}

#buttonmap button:hover {
    transform: scale(0.9);
}

/* typography */

h1 {
    font-size: 1.5rem;
    font-family: 'Archivo Black';
    color: #333;
}

h2 {
    font-size: 2rem;
    font-family: 'Archivo Black';
    color: #333;
}

h3 {
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium';
    color: #333;
}

h4 {
    font-size: 1rem;
    font-family: 'Archivo Black';
    color: #333;
}

p {
    font-size: 1rem;
    font-family: 'Courier New', sans-serif;
    color: #333;
}

/* navigation */

.nav {
    padding: 14px 14px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav a {
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    margin-left: 10px; 
    border: 1px solid #333;
    background-color: #6b4885;
    color: #333;
}

.nav a:hover {
    background-color: #333;
    color: #fff;
    border-color: #333;
}