/* The * selects everything and acts as a global reset to ensure consistency across browsers */
* {
    font-family: 'Courier New', Courier, monospace, sans-serif; /* Sets a default font for the whole page */
    margin: 0; /* Removes default margins */
    padding: 0; /* Removes default padding */
    box-sizing: border-box; /* Makes sure borders and paddings are included in the element's total width and height */
}

/* Sets the background color of the whole page and ensures content fits the screen height */
html {
    background-color: rgb(216, 112, 147); /* Sets a light blue background color */
}

/* Applies to both <html> and <body> */
html, body {
    height: 80vh; /* Sets the height to 80% of the viewport height, making sure the content fits on the screen */
    padding: 1rem; /* Adds a bit of space around the content for better readability */
    box-sizing: border-box; /* Ensures padding does not add to the set height */
}

/* Defines the main layout of the page using CSS Grid */
body {
    display: grid; /* Enables CSS Grid layout */
    grid-template-areas: 
        "header" /* Top area for the header */
        "main"   /* Middle area for the main content */
        "footer"; /* Bottom area for the footer */
    grid-template-rows: auto 1fr auto; /* Sizes: auto for header and footer to fit content, 1fr for main to fill remaining space */
}

main {
    display: grid;
    grid-template-areas:
        "portfolio map";
    grid-template-columns: 1fr 1fr; 
}

header { 
    grid-area: header;
    padding: 0.5rem;
}

main { 
    grid-area: main;
}

.portfolio {
    grid-area: portfolio; 
    background-color: #bfd16f;
    padding: 20px;
}

ul {
    margin-left: 20px;
    list-style-type: disc;
}
ul ul {
    list-style-type: circle;
}

ol {
    margin-left: 35px;
}

.portfolio img {
    display: block;
    margin: 0 auto;
}

.image-container {
    display: flex;
}

.image-container img {
    width: 50%;
    height: auto;
}

#map { 
    grid-area: map;
    height: 100%;   /* matches portfolio height */
}

footer { 
    grid-area: footer;
}

/* typography */

h1 {
    font-size: 2rem;
    font-family: 'Archivo Black';
}

h2 {
    font-size: 1.25rem;
    text-align: right;
    font-family: 'Archivo Black';
}

h3 {
    font-size: 1rem;
    font-family: 'Archivo Black';
    color: #333;
}
  
p {
    font-size: 1rem;
    font-family: 'Courier New', sans-serif;
    color: #333;
}

/* navigation */

.nav {
    padding: 14px 14px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav a {
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    margin-left: 10px; 
    border: 1px solid #333;
    background-color: #bfd16f;
    color: #333;
}

.nav a:hover {
    background-color: #333;
    color: #fff;
    border-color: #333;
}